# Backend API
VITE_API_BASE_URL=http://127.0.0.1:8000


# Google Identity Services
#
# OAuth 2.0 Web Application client ID.
# Example:
# 1234567890-example.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=