# Auto detect text files and perform LF normalization
* text=auto
assets/checkpoint_aug_epoch70.pth filter=lfs diff=lfs merge=lfs -text
assets/hand_landmarker.task filter=lfs diff=lfs merge=lfs -text
